# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
# git
.git
.gitignore
npm-debug.log
Dockerfile
.dockerignore
*.md
*.log
npm-debug.log
.vscode
.idx
.vscode
.idea
.next
coverage
dist
*.tsbuildinfo
tests
__tests__